<title>Update Employee</title>
</head>
<body>
    <h2 class="text-center text-primary">UPDATE EMPLOYEE</h2>
    <form th:action="@{/save}" th:object="${employee}" method="post">
        <fieldset class="form-group">
            <label>Employee name</label>
            <input class="form-control" type="text" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" />
        </fieldset>
        <input type="hidden" th:field="*{id}" />
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>